{% extends 'base/page.html' %}

{% block content %}
<h1>Binary package {{ binary }}</h1>
<p>
Available versions:
</p>
<ul>
    {% for entry in binaryversions %}
    <li><a href="{{ entry['link'] }}#{{ entry['escaped_name'] }}_{{ entry['escaped_binary_version'] }}">{{ entry['binary_version'] }} (source: {{ entry['source'] }} {{ entry['version'] }})</a></li>
    {% endfor %}
</ul>
{% endblock content %}
