{% extends 'base/page.html' %}

{% block content %}
<table class="rootmaintable">
<tr>
<td>
{% include 'root/sidebar.html' %}
</td>
<td>
<div class="rootmaintext">
 {% include 'root/description.html' %}
 {% include 'root/news.html' %}
</div>
</td>
</tr>
</table>
{% endblock %}
